<%#  relay the user input via POST and relay the user to page form-data %>
<form method='POST' action='/form-data'>
    
    <label for='item'>TODO Item</label>
    <input type='text' name='item' placeholder='Item Description' />
    <button type='submit'>Submit</button>
</form>